

body {
 background-image: url('../public/images/watercolor.png');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}


.nav-bar{
 text-align: center;
 color: yellow;
}
.card-body {
  background-color: snow;
}
/* a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
} */